<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fastJSON" version="2.4.0.4" targetFramework="net48" />
  <package id="InputSimulatorPlus2" version="1.0.9.0" targetFramework="net48" />
  <package id="System.Diagnostics.EventLog" version="7.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.ServiceProcess.ServiceController" version="7.0.0" targetFramework="net48" />
</packages>